@import "./assets//stylesheets/colors";

* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body {
    background-color: $background;
    color: $color; 
    font-family:cursive;
}
.home {
    min-height: 80vh;
    padding-top: 6.3rem;
    margin: 1rem auto;
}
a {
    text-decoration: none;
}