@import "./colors";

.cart-boxes {
  @extend %flex;
  flex-direction: column;
  gap: 1rem;
  margin: 2rem auto;
  .cart-box {
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 50rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    img {
      height: 10rem;
      width: 10rem;
    }
    .delete {
      color: $orange;
    }
  }
  .buy-now {
    @extend %flex;
    background-color: $orange;
    border: 2px solid $orange;
    color: $color;
    width: 7rem;
    padding: 0.4rem;
    border-radius: 5px;
    cursor: pointer;
    &:hover {
      background-color: transparent;
      color: $orange;
    }
  }
}

@media (max-width: 768px) {
  .cart-box {
    font-size: smaller;
    position: relative;
    width: 90% !important;
    img {
      height: 5rem !important;
      width: 5rem !important;
      margin-right: 0.5rem;
    }
    .delete {
      position: absolute;
      top: 5%;
      right: 3%;
    }
  }
}
