@import "./colors";
$width : calc(100vw - 16rem);


.admin-header {
    background-color: $color;
    color: $background;
    border-bottom: 2px solid $background;
    @extend %flex;
    justify-content: space-between;
    padding: 1rem;
    .toggler {
        cursor: pointer;
    }
}
aside {
    background-color: $color;
    position: fixed;
    height: 100vh;
    width: 15rem;
    display: flex;
    flex-direction: column;
    padding: 5rem 1rem;
    gap: 1rem;
    .dash-link {
        @extend %flex;
        justify-content: flex-start;
        gap: 1rem;
        text-decoration: none;
        color: $background;
        cursor: pointer;
    }
}
.admin-outlet {
    min-height: 100vh;
    width: $width;
    margin-left: 15rem;
    padding: 1rem;
    margin-top: 3rem;
}

.carousel-image {
    width: 100%;
    height: 82vh;
}

@media (max-width: 768px) {
    .carousel-image {
        height: 50vh;
    }
        .close-adminnav {
            left: -100%;
            transition: left 1s ease-in-out;
        }
        .open-adminnav {
            left: 0%;
            transition: left 1s ease-in-out;
        }
        .admin-outlet {
            width: 100%;
            min-height: 100vh;
            margin-left: 0%;
        }
    
}